<!DOCTYPE html>
<html lang="en-us">
    <head><meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Grcov report - crates&#x2F;conjure-cp-rules&#x2F;src&#x2F;types&#x2F;variant&#x2F;components </title>
        <link rel="stylesheet" href="../../../../../../bulma.min.css"></head>
    <body>
        <div class="container">
    <nav class="breadcrumb is-right" aria-label="breadcrumbs">
        <ul><li><a href="../../../../../../index.html">top_level</a></li><li class="is-active"><a href="#">crates&#x2F;conjure-cp-rules&#x2F;src&#x2F;types&#x2F;variant&#x2F;components</a></li>
        </ul>
    </nav>
    <nav class="level">
        <div class="level-item has-text-centered">
        <div>
            <p class="heading">Lines</p>
            <p class="title has-text-warning">
                <abbr title="180 / 223">80.72 %</abbr></p>
        </div>
    </div>

        <div class="level-item has-text-centered">
        <div>
            <p class="heading">Functions</p>
            <p class="title has-text-danger">
                <abbr title="33 / 78">42.31 %</abbr></p>
        </div>
    </div>

        
    </nav>

    <table class="table is-fullwidth">
        <thead>
            <tr>
                <th>File</th>
                <th class="has-text-centered" colspan="3">Line Coverage</th>
                <th class="has-text-centered" colspan="2">Functions</th>
                
            </tr>
        </thead>
        <tbody>
                    
    <tr>
        <th><a href="representation.rs.html">representation.rs</a></th>
        <!-- -->
        <td class="p-2">
            <progress
                class="progress is-danger is-large"
                value="73.03370786516854"
                max="100">
                73.03%
            </progress>
        </td>
        <td class="has-text-centered has-background-danger p-2">
            73.03%
        </td>
        <td class="has-text-centered has-background-danger p-2">
            65 / 89
        </td>
        <!-- -->
        <td class="has-text-centered has-background-danger p-2">31.25%</td>
        <td class="has-text-centered has-background-danger p-2">15 / 48 </td>
        <!-- -->
        
    </tr>

                  
                    
    <tr>
        <th><a href="vertical.rs.html">vertical.rs</a></th>
        <!-- -->
        <td class="p-2">
            <progress
                class="progress is-warning is-large"
                value="85.82089552238806"
                max="100">
                85.82%
            </progress>
        </td>
        <td class="has-text-centered has-background-warning p-2">
            85.82%
        </td>
        <td class="has-text-centered has-background-warning p-2">
            115 / 134
        </td>
        <!-- -->
        <td class="has-text-centered has-background-danger p-2">60%</td>
        <td class="has-text-centered has-background-danger p-2">18 / 30 </td>
        <!-- -->
        
    </tr>

                  </tbody>
    </table></div>
        <footer class="footer">
            
                <div class="content has-text-centered">
                    <p class="heading">Date: 2026-10-07 09:41</p>
                </div>
            
        </footer>
    </body>
</html>
